---
export const prerender = true;

import { Picture } from "astro:assets";
import { getCollection } from "astro:content";
import AuthorBlogPosts from "../../components/authors/AuthorBlogPosts.astro";
import AuthorLinks from "../../components/authors/AuthorLinks.astro";
import AuthorProfileSidebarData from "../../components/authors/AuthorProfileSidebarData.astro";
import PixelarticonsFlag from "../../components/icons/PixelarticonsFlag.astro";
import SidebarBase from "../../components/navigation/SidebarBase.astro";
import LayoutBase from "../../layouts/LayoutBase.astro";

export async function getStaticPaths() {
  const authors = await getCollection("authorCollection");
  return authors.map((author) => ({
    params: { id: author.id },
    props: { author },
  }));
}

const { author } = Astro.props;

const schema = {
  "@context": "https://schema.org",
  "@type": "Person",
  name: author.data.name,
  url: Astro.url,
  image: Astro.url + author.data.avatar.src,
  sameAs: author.data.socialLinks
    ? [
        author.data.socialLinks.linkedin,
        author.data.socialLinks.github,
        author.data.socialLinks.website,
      ].filter(Boolean)
    : [],
  jobTitle: "Förrfattare",
  worksFor: {
    "@type": "Organization",
    name: "HallinMedia",
  },
};
---

<LayoutBase schema={schema}>
  <SidebarBase showLogo showReturn slot="sidebar">
    <div slot="content">
      <AuthorProfileSidebarData author={author} />
    </div>
  </SidebarBase>

  <main slot="content" class="space-y-12">
    <article class="space-y-6">
      <header class="space-y-6">
        <Picture
          src={author.data.avatar}
          alt={author.data.name}
          width={64}
          height={64}
          quality={80}
          formats={["avif"]}
          layout="constrained"
          fit="cover"
          position="center"
          transition:name={`avatar-${author.id}`}
          class="mb-6 rounded-full select-none"
        />

        <div class="space-y-3">
          <h1 class="font-serif text-xl text-stone-800 dark:text-stone-100">
            {author.data.name}
          </h1>
          <p class="max-w-xl leading-relaxed text-stone-500">
            {author.data.bio.sv}
          </p>
          <span class="text-sm text-stone-800 md:hidden dark:text-stone-300">
            <PixelarticonsFlag aria-hidden="true" class="mr-1 inline h-4 w-4" />
            {author.data.location}
          </span>
        </div>
      </header>

      <AuthorLinks author={author} />
    </article>

    <hr class="border-stone-300 dark:border-stone-700" />

    <AuthorBlogPosts author={author} />
  </main>
</LayoutBase>
