---
export const prerender = true;

import { getCollection, render } from "astro:content";
import PixelarticonsCalendar from "../../../components/icons/PixelarticonsCalendar.astro";
import SidebarBase from "../../../components/navigation/SidebarBase.astro";
import LayoutBase from "../../../layouts/LayoutBase.astro";
import { formatDate } from "../../../utils/blog";

export async function getStaticPaths() {
  const legalItems = await getCollection("legalCollection", ({ id }) => {
    return id.startsWith("en/");
  });
  return legalItems.map((item) => ({
    params: { id: item.id.replace("en/", "") },
    props: { legalItem: item },
  }));
}

const { legalItem } = Astro.props;
const { Content } = await render(legalItem);
const formattedDate = formatDate(legalItem.data.lastUpdated, "en-US");
---

<LayoutBase
  title=`${legalItem.data.title} - Legal`
  description={legalItem.data.description}
>
  <SidebarBase showLogo showReturn slot="sidebar">
    <div slot="content">
      <aside
        class="space-y-4 text-xs text-stone-500"
        aria-label="Document metadata"
      >
        <div class="space-y-0.5">
          <span class="mb-1 flex items-center gap-1">
            <PixelarticonsCalendar aria-hidden="true" class="h-4 w-4" />
            Last updated
          </span>
          <time
            datetime={legalItem.data.lastUpdated}
            class="font-mono text-stone-800 dark:text-stone-300"
          >
            {formattedDate}
          </time>
        </div>
      </aside>
    </div>
  </SidebarBase>

  <article slot="content" class="space-y-8">
    <header>
      <h1
        class="font-serif text-3xl font-medium text-stone-900 italic dark:text-stone-100"
      >
        {legalItem.data.title}
      </h1>

      <aside
        class="mt-6 mb-12 flex flex-wrap gap-6 text-xs text-stone-500 md:hidden"
        aria-label="Document metadata"
      >
        <div class="space-y-0.5">
          <span class="mb-1 flex items-center gap-1">
            <PixelarticonsCalendar aria-hidden="true" class="h-4 w-4" />
            Last updated
          </span>
          <time
            datetime={legalItem.data.lastUpdated}
            class="font-mono text-stone-800 dark:text-stone-300"
          >
            {formattedDate}
          </time>
        </div>
      </aside>
    </header>

    <main
      class="prose dark:prose-invert prose-stone prose-headings:font-serif prose-a:hover:bg-red-400 prose-headings:font-medium prose-a:hover:text-stone-100 prose-a:active:opacity-50 prose-a:decoration-dashed prose-a:decoration-from-font prose-a:underline-offset-2"
    >
      <Content />
    </main>
  </article>
</LayoutBase>
