---
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import { formatDateISO, getAllPublishedPosts } from "../../utils/blog";
import PixelarticonsArrowRight from "../icons/PixelarticonsArrowRight.astro";

const locale = (Astro.currentLocale as "en" | "sv") ?? "en";
const allBlogPosts = await getCollection("blogCollection", ({ id }) => {
  return id.startsWith(`${locale}/`);
});
const allPublishedPosts = getAllPublishedPosts(allBlogPosts);

const translations = {
  en: {
    sectionAriaLabel: "Blog posts",
    readPost: "Read post",
  },
  sv: {
    sectionAriaLabel: "Blogginlägg",
    readPost: "Läs inlägg",
  },
};
---

<section aria-label={translations[locale].sectionAriaLabel}>
  <ul class="flex flex-col gap-4 divide-y divide-stone-300" role="list">
    {
      allPublishedPosts.map((post) => {
        const isoDate = formatDateISO(post.data.publishedDate);

        return (
          <li class="pb-4">
            <article>
              <a
                href={getRelativeLocaleUrl(
                  locale,
                  `blog/${post.id.replace(`${locale}/`, "")}`,
                )}
                rel="bookmark"
                aria-label={`${translations[locale].readPost}: ${post.data.title}`}
                class="group flex flex-col justify-between gap-2 transition-opacity active:opacity-50 lg:flex-row lg:items-center lg:gap-4"
              >
                <div class="flex flex-col gap-1 lg:flex-row lg:items-center lg:gap-2">
                  <time
                    datetime={isoDate}
                    class="font-mono text-xs text-stone-500"
                  >
                    {isoDate}
                  </time>
                  <h3 class="font-serif text-xl text-stone-800 decoration-from-font underline-offset-2 group-hover:underline dark:text-stone-100">
                    {post.data.title}
                  </h3>
                </div>

                <span
                  aria-hidden="true"
                  class="px-px text-sm tracking-tight text-stone-500 decoration-from-font underline-offset-2 transition-transform group-hover:translate-x-0.5 group-hover:bg-red-400 group-hover:text-stone-100"
                >
                  {translations[locale].readPost}
                  <PixelarticonsArrowRight
                    aria-hidden="true"
                    class="mb-1 inline-block h-4 w-4 transition-transform group-hover:translate-x-0.5"
                  />
                </span>
              </a>
            </article>
          </li>
        );
      })
    }
  </ul>
</section>
